<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
    </startup>
  <appSettings>
    <!--RUC DE LA EMPRESA-->
    <add key="empresa" value="20101951872"/>
    <!--FUNCIONALIDAD WS O EPOS-->
    <add key="epos" value="1"/>
    <!--USUARIO DE WEB SERVICE-->
    <add key="ws_login" value="admin_ws"/>
    <!--PASSWORD DE WEB SERVICE-->
    <add key="ws_pass" value="abc123"/>
    <!--HOST DEL SOCKET-->
    <add key="socket_host" value="localhost"/>
    <!--PUERTO HOST DEL SOCKET-->
    <add key="socket_puerto" value="5500"/>
  </appSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="OnlineSOAP11Binding" closeTimeout="00:15:00" openTimeout="00:30:00"
                    receiveTimeout="00:30:00" sendTimeout="00:30:00" maxReceivedMessageSize="52428800" />
            </basicHttpBinding>
            <customBinding>
                <binding name="OnlineSOAP12Binding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://200.121.128.110:8080/axis2/services/Online"
                binding="basicHttpBinding" bindingConfiguration="OnlineSOAP11Binding"
                contract="FEBata.OnlinePortType" name="OnlineSOAP11port_http" />
            <!--<endpoint address="http://200.121.128.110:8080/axis2/services/Online"
                binding="customBinding" bindingConfiguration="OnlineSOAP12Binding"
                contract="FEBata.OnlinePortType" name="OnlineSOAP12port_http" />-->
        </client>
    </system.serviceModel>
</configuration>
