<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Bata_ElectronicoSoap" closeTimeout="00:15:00"
                    openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00"
                    maxReceivedMessageSize="1000000000" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://posperu.bgr.pe/Ws_Util/Bata_Electronico.asmx"
                binding="basicHttpBinding" bindingConfiguration="Bata_ElectronicoSoap"
                contract="Bata_Util.Bata_ElectronicoSoap" name="Bata_ElectronicoSoap" />
        </client>
    </system.serviceModel>
</configuration>